ul .Date {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  color: #fef8ff;
  padding-top: 10px;
}

ul .bigTemp {
  list-style-type: none;
  text-align: center;
  font-size: 65px;
  color: #fef8ff;
}
